<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="game.server.manager.generate.mapper.DataSourceManagerMapper">
    
    <resultMap type="game.server.manager.generate.dynamic.core.DataSource" id="DataSourceManagerResult">
        <result property="id"    column="id"    />
        <result property="sourceName"    column="source_name"    />
        <result property="sourceCode"    column="source_code"    />
        <result property="sourceType"    column="source_type"    />
        <result property="url"    column="url"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="params"    column="params"    />
        <result property="state"    column="state"    />
        <result property="creator"    column="create_by"    />
        <result property="gmtCreate"    column="create_time"    />
        <result property="modifier"    column="update_by"    />
        <result property="gmtModified"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDataSourceManagerVo">
        select id, source_name, source_code, source_type, url, user_name, password, params, state, gmt_modified, modifier, gmt_create, creator, is_deleted, remark from data_source_manager
    </sql>

    <select id="selectDataSourceManagerPage" parameterType="game.server.manager.generate.dynamic.core.qo.DataSourceQo" resultMap="DataSourceManagerResult">
        <include refid="selectDataSourceManagerVo"/>
        <where>  
            <if test="qo.id != null  and qo.id != ''"> and id = #{qo.id}</if>
            <if test="qo.sourceName != null  and qo.sourceName != ''"> and source_name like concat('%', #{qo.sourceName}, '%')</if>
            <if test="qo.sourceCode != null  and qo.sourceCode != ''"> and source_code like concat('%', #{qo.sourceCode}, '%')</if>
            <if test="qo.sourceType != null  and qo.sourceType != ''"> and source_type = #{qo.sourceType}</if>
            <if test="qo.url != null  and qo.url != ''"> and url = #{qo.url}</if>
            <if test="qo.userName != null  and qo.userName != ''"> and user_name like concat('%', #{qo.userName}, '%')</if>
            <if test="qo.password != null  and qo.password != ''"> and password = #{qo.password}</if>
            <if test="qo.state != null "> and state = #{qo.state}</if>
            and is_deleted = 0
        </where>
    </select>

    <select id="selectDataSourceManagerList" parameterType="game.server.manager.generate.dynamic.core.qo.DataSourceQo" resultMap="DataSourceManagerResult">
        <include refid="selectDataSourceManagerVo"/>
        <where>
            <if test="qo.id != null  and qo.id != ''"> and id = #{qo.id}</if>
            <if test="qo.sourceName != null  and qo.sourceName != ''"> and source_name like concat('%', #{qo.sourceName}, '%')</if>
            <if test="qo.sourceCode != null  and qo.sourceCode != ''"> and source_code like concat('%', #{qo.sourceCode}, '%')</if>
            <if test="qo.sourceType != null  and qo.sourceType != ''"> and source_type = #{qo.sourceType}</if>
            <if test="qo.url != null  and qo.url != ''"> and url = #{qo.url}</if>
            <if test="qo.password != null  and qo.password != ''"> and password = #{qo.password}</if>
            <if test="qo.state != null "> and state = #{qo.state}</if>
            and is_deleted = 0
        </where>
    </select>


    <select id="selectDataSourceManagerById" parameterType="String" resultMap="DataSourceManagerResult">
        <include refid="selectDataSourceManagerVo"/>
        where id = #{id}
    </select>



</mapper>