.log-body {
  background-color: rgb(42 42 43);
  white-space: pre-wrap;
  height: calc(100vh - 290px);
  overflow: auto;
  padding: 10px;
}

.log-msg {
  color: #059642;
  display: flex !important;
  align-items: flex-start !important;
  font-family: monospace;
  line-height: 1;
  height: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 0;
  overflow: auto;
}

.log-msg.xx2 {
  color: #27aa5e;
}

.ͼ1 .cm-scroller {
  display: flex !important;
  align-items: flex-start !important;
  font-family: monospace;
  line-height: 1.4;
  height: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 0;
}